table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.Report--table {
    width: 75%;
    overflow-x: auto;
    padding: 50px 10px;
}

.Report--table h1 {
    margin: 0px;
}

.Report--body {
    display: flex;
}

.Report--type {
    margin: 0px 20px;
    padding: 15px;
    border: 1px solid black;
}