.dashboard {
    width: 100vw;
    padding: 0px 30px;
}

.dashboard--container {
    width: 95%;
    display: block;
    box-sizing: border-box;
    padding: 20px 20px;
}

.dashboard--tag {
    width: 5vw;
    height: 100%;
}

.dashboard--tag span {
    display: block;
    text-align: center;
}

.dashboard--content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid gray;
    box-shadow: 0px 0px 5px 5px gray;
    margin: 10px 0px;
    padding: 10px;
}

.dashboard--actions {
    display: flex;
    height: auto;
}