@import './base.css';

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-background);
}

.login--form {
    width: 470px;
    height: 310px;
    padding: 20px;
    text-align: center;
    background-color: var(--white-background);
    box-shadow: 0px 0px 5px 2px gray;
    box-sizing: border-box;
    border-radius: 36px;
}

.login--title {
    font-family: var(--title-type);
    font-size: var(--title-size);
    font-weight: var(--title-weigth);
    color: var(--title-color);
    margin: 40px 0px;
}

.login--wrapperInput {
    display: flex;
    border-bottom:1px solid var(--gray-color);
    margin-bottom: 40px;
}
.login--input {
    width: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
    border: none;
}

.login--infobox {
    padding: 20px 30px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.login--infobox__success {
    border: 1px solid green;
    background-color: rgb(62, 133, 62);
}

.login--infobox__err {
    border: 1px solid red;
    background-color: rgb(153, 63, 63);
}