.notification--container {
    width: 100%;
    height: 40px;
    position: absolute;
    text-align: center;
    bottom: 0;
    color: white;
    line-height: 40px;
    
}

.notification--container__hidden {
    display: none;
}

.notification--container__green {
    background-color: green;
}
.notification--container__red {
    background-color: red;
}

.notification--container__orange {
    background-color: orange;
    color: black;
}

.notification--container__yellow {
    background-color: yellow;
    color: black;
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
    @keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
} 