.notification--container {
    width: 150px;
    height: 40px;
    box-shadow: 0px 0px 5px 3px gray;
    padding: 20px 20px;
    position: absolute;
    text-align: center;
    top: 5%;
    right: 5%;
    color: white;
}

.notification--container__hidden {
    display: none;
}

.notification--container__green {
    border: 2px solid green;
    background-color: rgb(39, 104, 39);
}
.notification--container__red {
    border: 2px solid red;
    background-color: rgb(158, 38, 38);
}

.notification--container__orange {
    border: 2px solid orange;
    background-color: rgb(171, 126, 41);
    color: black;
}

.notification--container__yellow {
    border: 2px solid yellow;
    background-color: rgb(171, 171, 66);
    color: black;
}